.DS_Store
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/
testing/
bin/.localio.yml
bin/Locfile
bin/i18n/strings-en.json
bin/i18n/strings-es.json
